p {
	letter-spacing: 0.5px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: Montserrat, arial, sans-serif;
	font-weight: 600;
	line-height: 1.1;
	margin: 10px;
}

h1 {
	font-size: 3.23076923076923em;
	-webkit-font-smoothing: antialiased;
}

h2 {
	font-size: 2.83076923076923em;
	-webkit-font-smoothing: antialiased;
}

h3 {
	font-size: 2.30769230769231em;
	-webkit-font-smoothing: antialiased;
}

h4 {
	font-size: 2.0769230769231em;
	-webkit-font-smoothing: antialiased;
}

h5 {
	font-size: 1.7769230769231em;
	-webkit-font-smoothing: antialiased;
}

h6,
.h6 {
	font-size: 1.38461538461538em;
	line-height: 1.38888888888889;
}

.h1 {
	font-size: 1.83076923076923em;
	-webkit-font-smoothing: antialiased;
}

.h2 {
	font-size: 2.3076923076923em;
	-webkit-font-smoothing: antialiased;
}

.paddedText {
	margin: 20px 8vw;
}

@media only screen and (max-width: 768px) {
	.app {
		min-height: 100vh;
		position: relative;
		padding-bottom: 462px;
	}
}

@media only screen and (min-width: 768px) {
	.app {
		min-height: 100vh;
		position: relative;
		padding-bottom: 200px;
	}
}

/* navigation */

.navigation {
	position: sticky;
	top: 0;
	z-index: 100;
}

.navbar {
	position: relative;
	border-radius: 0px;
	border-style: none;
	margin: 0px;
	padding: 5px;
	background-color: white;
	font-size: 1.155em;
}

.navbar .navbar-nav > li > a {
	width: 140px;
	font-size: 16px;
	font-family: Arial;
	letter-spacing: 3px;
	margin-bottom: 0px;
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}

.navbar .navbar-nav > li > a:hover {
	color: #ffd602;
}

.navbar .navbar-menu-item > li > a {
	color: white;
}

.navbar .navbar-toggle {
	background-color: #4d4d4d;
	border-style: none;
}

.primaryBGColor {
	background-color: #ffd602;
}

.secondaryBGColor {
	background-color: #f5f5f0;
}

.greyBG {
	background-color: #262626;
}

.grid {
	display: grid;
}

.setCol2 {
	grid-template-columns: 1fr 1fr;
}

.setCol3 {
	grid-template-columns: 1fr 1fr 1fr;
}

.rights {
	font-size: 11px;
	color: darkgrey;
}

.centerText {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.centerTextRight {
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.centerTextLeft {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* floating */

.hovering {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.relative {
	position: relative;
}

.tint {
	position: relative;
	cursor: pointer;
}

.lightTint:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255, 255, 255, 0.4);
	transition: all 0.3s linear;
}

.darkTint {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255, 255, 255, 0.4);
	transition: all 0.3s linear;
}

.yellowTint {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 191, 0, 0.7);
	transition: all 0.3s linear;
}

.tint:hover:before {
	background: none;
}

.entry {
	padding: 40px 15px;
}

.banner {
	padding: 50px 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.textBlock {
	padding: 40px 15px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.paddedTextBlock {
	padding: 10px 10px 20px 10px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.button {
	margin: 0 auto;
	border-color: #ffbf00;
	border-width: 4px;
	background-color: #ffbf00;
	color: black;
}

.button:hover {
	border-color: #ffbf00;
	background-color: rgba(0, 0, 0, 0.4);
	color: #ffbf00;
}

.buttonReverse {
	margin: 0 auto;
	border-color: #ffbf00;
	border-width: 4px;
	background-color: rgba(0, 0, 0, 0);
	color: white;
}

.buttonReverse:hover {
	background-color: #ffbf00;
	color: black;
}

.whiteButton {
	margin: 0 auto;
	border-color: white;
	border-width: 4px;
	background-color: rgba(0, 0, 0, 0);
	color: white;
}

.whiteButton:hover {
	border-color: white;
	background-color: white;
	color: black;
}

.whiteButtonReverse {
	margin: 0 auto;
	border-color: white;
	border-width: 4px;
	background-color: white;
	color: #262626;
}

.whiteButtonReverse:hover {
	border-color: #262626;
	background-color: #262626;
	color: white;
}

.blackButton {
	margin: 0 auto;
	border-color: #262626;
	border-width: 4px;
	background-color: #262626;
	color: #ffbf00;
}

.blackButton:hover {
	border-color: black;
	background-color: black;
	color: #ffbf00;
}

.whiteText {
	color: white;
}

.smoke {
	background-color: rgba(0, 0, 0, 0.2);
}

.darkSmoke {
	background-color: rgba(0, 0, 0, 0.4);
}

.cover {
	width: 100%;
	height: 100%;
}

.coverHeight {
	height: 100%;
}

.coverWidth {
	width: 100%;
}

.centerImage {
	position: absolute;
	top: 0px;
	left: -9999px;
	right: -9999px;
	margin: auto;
}

.parallax {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.blanket {
	background-color: rgba(0, 0, 0, 0.1);
	width: 100%;
	height: 100%;
	position: absolute;
}

.collapseNav .navItem {
	font-weight: bold;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-bottom: 1px solid;
	border-color: black;
	padding: 15px;
}

.collapseNav .first {
	border-top: 1px solid;
}

.collapseNav .noBorder {
	border: none;
}

.formWrapper {
	width: 100%;
}

.form {
	padding: 0px 20px;
}

.textarea {
	margin: bottom;
}

.form input {
	margin: 20px 0px;
}

.form select {
	width: 150px;
	margin: 20px 0px;
}

.formButton {
	margin-top: 40px;
}

.margin0 {
	margin: 0 auto;
}

/* Gallery */

.gallery {
	padding: 40px 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.gallery .imgDiv {
	overflow: hidden;
	margin: 10px 10px 5px 10px;
	width: 280px;
	height: 230px;
	position: relative;
}

.gallery .imgHeight {
	height: 100%;
}

.gallery .imgWidth {
	width: 100%;
}

.gallery .hovering {
	letter-spacing: 2px;
	bottom: 0;
}

.gallery .hovering h6 {
	margin: 10px;
}

.galleryPage {
	width: 95%;
	margin: 0 auto;
}

.modal {
	padding: 0px;
	margin: 0px;
}

.galleryModal .modal-dialog {
	width: 100%;
	margin: 62px 0px 0px 0px !important;
	border-radius: 0px;
	height: 300px;
	background-color: black;
}

.galleryModal .modal-body {
	background-color: black;
	border-style: none;
}

.galleryModal .modal-footer {
	background-color: black;
	border-style: none;
	padding: 10px;
}

.galleryCarousel .item img {
	max-height: 400px;
	margin: 0 auto;
}

.galleryCarousel .item {
	position: relative;
	max-height: 400px;
}

/* collapsable */

.wrap-collabsible {
	margin-bottom: 1.2rem 0;
}

input[type="checkbox"] {
	display: none;
}

.lbl-toggle {
	display: block;

	font-weight: bold;
	font-size: 1.5rem;
	text-align: center;

	padding: 1rem;

	color: black;
	background: #ffd602;

	cursor: pointer;

	transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
	color: black;
}

.lbl-toggle::before {
	content: " ";
	display: inline-block;

	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid currentColor;
	vertical-align: middle;
	margin-right: 0.7rem;
	transform: translateY(-2px);

	transition: transform 0.2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
	transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
	max-height: 1000px;
}

.toggle:checked + .lbl-toggle {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
	padding: 0rem 1rem;
}

@media only screen and (min-width: 768px) {
	.col2 {
		grid-template-columns: 1fr 1fr;
	}

	.col3 {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.col4 {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.entry {
		padding: 60px 15px;
	}

	.paddedTextBlock {
		padding: 10px 20% 20px 20%;
	}

	.formWrapper {
		margin: 0 auto;
		width: 768px;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.textArea {
		margin: 0 auto;
		width: 768px;
	}
}

@media only screen and (min-width: 500px) {
	.h1 {
		font-size: 3.23076923076923em;
		-webkit-font-smoothing: antialiased;
	}

	.h2 {
		font-size: 2.83076923076923em;
		-webkit-font-smoothing: antialiased;
	}
}

@media only screen and (min-width: 500px) and (max-width: 768px) {
	.paddedTextBlock {
		padding: 10px 120px 20px 120px;
	}
}
